<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Компания Силант{% endblock %}</title>
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% load static %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    {% block extra_css %}{% endblock %}
</head>
<body>
<header>
<div class="logo_company">
    <img src="{% static 'img/logo.png' %}" alt="logo">
</div>
    <div class="header_phone">+7-8352-20-12-09</div>
<button class="auth-button">Авторизация</button>
    <div class="main_text">Электронная сервисная книжка "Мой Силант"</div>
</header>
<main>
  {% block content %}
    {% endblock %}
</main>
<footer>
<div class="tel_footer">+7-8352-20-12-09</div>
    <div class="api_link">
        <a href="/api/start/">Описание API</a>
    </div>
    <div class="copyright">Мой Силант 2022 &copy; </div>
</footer>


</body>
</html>