{% extends 'base.html' %}
{% load static %}
{% block title %}Данные о модели управляемого моста Силант{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/car.css' %}">
{% endblock %}

{% block content %}
<div class="main_title">Данные о модели управляемого моста
<img src="{% static 'img/icon_axel.png' %}" alt="Bridge icon">
</div>

<div class="main_info">

    <div class="title_name">
Название модели: {{model_bridge.model_bridge_name}}
        </div>
    <div class="title_desc">
Описание модели: {{model_bridge.model_bridge_desc}}
        </div>

</div>
<div class="nav_btn">
{% if request.user.management %}
<button class="home_btn"><a href="/memberzone/cars/createbridge/">Добавить модель управляемого моста</a></button>
{% endif %}
<button class="home_btn"><a href="/memberzone/">Назад</a></button>
    </div>
{% if error %}
<div class="error">
    {{ error }}
</div>
{% endif %}

{% endblock content %}