{% extends 'base.html' %}
{% load static %}
{% block title %}Данные о ТО Силант{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/car.css' %}">
{% endblock %}

{% block content %}
<div class="main_title">Данные о ТО
<img src="{% static 'img/icon_to1.png' %}" alt="TO icon">
</div>

<div class="main_info">

    <div class="title_name">
Название TO: {{tm_type.model_tm_name}}
        </div>
    <div class="title_desc">
Описание ТО: {{tm_type.model_tm_desc}}
        </div>

</div>
<div class="nav_btn">
<button class="home_btn"><a href="/memberzone/cars/createtopersonal/">Добавить ТО</a></button>
<button class="home_btn"><a href="/memberzone/">Назад</a></button>
    </div>
{% if error %}
<div class="error">
    {{ error }}
</div>
{% endif %}

{% endblock content %}